meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
meta(name='format-detection', content='telephone=no')

title #{pagetitle} :: Frontend pack

meta(name="description" content="Description")
meta(property="og:url" content="https://")
meta(property="og:type" content="website")
meta(property="og:title" content="title")
meta(property="twitter:title" content="title")
meta(property="og:description" content="description")
meta(property="twitter:description" content="description")
meta(property="og:image" content="assets/share.png")
link(rel='stylesheet', href='./assets/css/common.css')
//- script(src="https://polyfill.io/v3/polyfill.min.js?features=default")

