.popup(data-popup="transfer")
  .popup__bg
  form.popup__panel 
    .popup__title Перенос курса с другой платформы
    .popup__input 
      input(type="text" placeholder="Email")
      .input__description Почта введена правильно
    .btn-center
      button.btn.--blue-shadow
        | Заказать перенос
        +svgsprite('btn-arrow')
.popup(data-popup="metodology")
  .popup__bg
  form.popup__panel 
    .popup__title Арендовать методолога
    .popup__input 
      input(type="text" placeholder="Email")
      .input__description Почта введена правильно
    .btn-center
      button.btn.--blue-shadow
        | Почта введена правильно
        +svgsprite('btn-arrow')
.popup(data-popup="bots")
  .popup__bg
  form.popup__panel 
    .popup__title Разработка маркетинговой воронки для чат-ботов и рассылок
    .popup__input 
      input(type="text" placeholder="Email")
      .input__description Почта введена правильно
    .btn-center
      button.btn.--blue-shadow
        | Заказать воронку
        +svgsprite('btn-arrow')
.popup(data-popup="analtic")
  .popup__bg
  form.popup__panel 
    .popup__title Подключение бизнес-аналитики PowerBi
    .popup__input 
      input(type="text" placeholder="Email")
      .input__description Почта введена правильно
    .btn-center
      button.btn.--blue-shadow
        | Подключить бизнес-аналитику
        +svgsprite('btn-arrow')