footer.footer {
  background: #262B37;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #727C90;
  font-size: 14px;
}
.footer {
  &-title {
    color: #727C90;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
  }

  &-menu {
    li {
      display: block;
      margin-bottom: 10px;
    }
    a {
      color: #FFF;

      &:hover {
        color: $primary-400;
      }
    }
  }

  &-form {
    position: relative;
    padding-right: 70px;
    margin-bottom: 25px;
    max-width: 240px;

    &-input {
      width: 100%;
      background: #FFF;
      height: 52px;
      border-radius: 3px;
      padding: 0px 15px;
      border: 1px solid #FFF;

      &:hover {
        border-color: #EEE;
      }
      &:focus {
        border-color: $primary-400;
      }
    }
    &-submit {
      position: absolute;
      right: 0;
      top: 0;
      height: 52px;
      line-height: 48px;
      width: 60px;
      padding: 0px;
      text-align: center;
      font-size: 16px;
    }
  }

  &-media {
    margin-bottom: 15px;

    &-link {
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      margin-bottom: 10px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-terms {
    a {
      color:#727C90;

      &:hover {
        color: #FFF;
      }
    }
  }

  &-copy {
    margin-bottom: 20px;
  }
  &-logos {
    &-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 42px;
      margin-bottom: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 992px) {
    &-menu {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 576px) {
    &-terms {
      margin-bottom: 40px;
    }
  }
}
.col-footer-subs {
  @media (max-width: 992px) and (min-width: 770px) {
    order: 1;
  }
}


.popup{
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  overflow: hidden scroll;

  &__panel {
    .iframe__container {
      margin: 0 auto;
      width: 400px;
    }

    iframe {
      height: 185px!important;
      margin: 0 auto!important;
      width: 350px !important;
      transform: none !important;
      display: block;
    }
  }

  &-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  &-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 2002;
    // width: 100%;
  }
  &-popup {
    position: relative;
    padding: 50px 40px 70px;
    width: 660px;
    max-width: 92vw;
    margin: 20px auto;
    background: url(../img/popup.svg) no-repeat bottom right / auto;
    border: 2px solid #333A4A;
    box-shadow: -12px 12px 0px #333A4A;
    border-radius: 6px;
    background-color: #fff;
    z-index: 1;
  }
  &-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1999;
    overflow: hidden;
    position: fixed;
    background: #FFF;
    opacity: .85;
    display: none;
  }
  &-close {
    position: absolute;
    z-index: 9;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    background: url(../img/main/close.svg) center no-repeat;
    background-size: contain;
    cursor: pointer;

    &-white {
      filter: brightness(10);
      top: 40px;
    }
  }
  &-friday {
    margin: 20px auto;
    box-shadow: -12px 12px 0px #333A4A;
    border-radius: 6px;
    background: #171717;
    max-width: 92vw;
  }
  &-newyear {
    margin: 20px auto;
    border: 1px solid #0C64F5;
    box-shadow: -12px 12px 0px #0C64F5;
    border-radius: 6px;
    background: #0C4CD7;
    max-width: 92vw;
  }
  
}


.popup__title{
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 52px;
}

.popup__input {
  width: 100%;
  max-width: 350px;
  margin: 0 auto 30px;
  input{
    width: 100%;
    border: 1px solid #0C64F5;
    height: 52px;
    padding-left: 14px;
    font-size: 18px;
    line-height: 28px;
  }
}

.input__description{
  font-size: 15px;
  line-height: 28px;
  color: #0C64F5;
}

@media(max-width: 500px){
  .popup{
    .btn.--blue-shadow{
      font-size: 15px;
    }
  }
  .popup__title{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}
html.--overflowhidden {
  overflow: hidden;
}

.popup-friday-banner {
  display: block;
  border-radius: 6px;
}
#open_friday_popup,
#open_ny_popup {
  display: none;
}