.svgsprite {
    display:inline-block;
    fill:currentColor;
    vertical-align:middle;

    &._btn-arrow {
    	width:28px;
    	height:28px;
    }
    &._dropdown {
    	width:20px;
    	height:12px;
    }
    &._fb {
    	width:8px;
    	height:17px;
    }
    &._in {
    	width:16px;
    	height:16px;
    }
    &._menu-1 {
    	width:24px;
    	height:24px;
    }
    &._menu-10 {
    	width:24px;
    	height:24px;
    }
    &._menu-11 {
    	width:24px;
    	height:24px;
    }
    &._menu-2 {
    	width:24px;
    	height:24px;
    }
    &._menu-3 {
    	width:24px;
    	height:24px;
    }
    &._menu-4 {
    	width:24px;
    	height:24px;
    }
    &._menu-5 {
    	width:24px;
    	height:24px;
    }
    &._menu-6 {
    	width:24px;
    	height:24px;
    }
    &._menu-7 {
    	width:24px;
    	height:24px;
    }
    &._menu-8 {
    	width:24px;
    	height:24px;
    }
    &._menu-9 {
    	width:24px;
    	height:24px;
    }
    &._next {
    	width:22px;
    	height:22px;
    }
    &._platform {
    	width:619px;
    	height:34px;
    }
    &._plus {
    	width:32px;
    	height:32px;
    }
    &._prev {
    	width:22px;
    	height:22px;
    }
    &._video {
    	width:14px;
    	height:11px;
    }
    &._vk {
    	width:17px;
    	height:10px;
    }
}