extends _includes/layout

block config
  - var pagetitle = 'Главная'
  - var bodyClass = ''
block content
  section.main
    .main__pic
      img(src="./assets/img/main/main-img-group2.svg", alt="alt")
    .container
      .main__tag С чёткой методологией
      .main__title
        .main__title-txt 
          span.main__title-platform Платформа
            span.main__title-shadow Платформа
            img.main__title-platform-img(src="./assets/img/platform.svg", alt="Платформа")
          br
          span.main__title-relative для онлайн-обучения
            span.main__title-shadow для онлайн-обучения
      .main__text Создавай вовлекающие курсы, проводи вебинары и live-уроки, используй современные гибкие методологии разработки и зарабатывай на своей экспертизе. Построй свой бизнес в онлайн-образовании с CoreApp.
      .btn-center 
        .btn-arrow
          img(src="./assets/img/main/arrow.svg", alt="")
        .main__btn
          a.btn.--blue-main(href="https://coreapp.ai/app")
            | Начать бесплатно
  section.stats 
    .container 
      .stats__list
        .stats__item.--blue
          .stats__title 70 000+
          .stats__description Экспертов
          .stats__text Обучают на платформе
        .stats__item.--orange
          .stats__title 2 млн+ 
          .stats__description Человек
          .stats__text Проходят обучение ежемесячно
        .stats__item.--green
          .stats__title 16 000+
          .stats__description Курсов
          .stats__text Создано на CoreApp


  section.video 
    .container 
      h2.video__title Всё, что нужно для создания лучших курсов на рынке
      .video__block 
        img(src="./assets/img/main/main-course.jpeg", alt="Всё, что нужно для создания лучших курсов на рынке", loading="lazy")
      .btn-center 
        a.btn.--blue-shadow(href="https://coreapp.ai/app")
          | Создать свой курс
          +svgsprite('btn-arrow')

  section.decisions
    .container 
      h2 Решения для онлайн-образования
      .row
        .col-md-6.col-xs-6.md-order--1
          .decisions__item.--bg-1
            .decisions__title Блогерам <br>и обучающим <br>экспертам
            .decisions__text Создавай впечатляющие онлайн-курсы без технических специалистов и нервотрёпки. Начни свой онлайн-бизнес без рисков и переплат
            .decisions__btn 
              button.btn.--blue-border 
                | Открыть
                +svgsprite('btn-arrow')
        
        .col-md-6.col-xs-12.md-order-1
          .decisions__item.--bg-2
            .decisions__title Крупным онлайн-школам
            .decisions__text Выстраивай независимую и гибкую образовательную экосистему под собственным брендом без ограничений по пользователям
            .decisions__btn 
              button.btn.--blue-border 
                | Открыть
                +svgsprite('btn-arrow')
        .col-md-4.col-xs-6
          .decisions__item.--bg-3
            .decisions__title Бизнесу
            .decisions__text Создавай образовательное пространство профессионалого роста персонала. Отбор кандидатов, повышение квалификации, онбординг, диагностика, ассессмент.
            .decisions__img 
              img(src="./assets/img/decisions/5.svg", alt="")
            .decisions__btn 
              button.btn.--blue-border 
                | Открыть
                +svgsprite('btn-arrow')

        .col-md-4.col-xs-6        
          .decisions__item.--bg-4
            .decisions__img 
              img(src="./assets/img/decisions/6.svg", alt="")
            .decisions__title Вузам и ИРО
            .decisions__text Самое время выходить на рынок онлайн-ДПО и осваивать внебюджетные потоки. Интеграция с ФИС ФРДО
            .decisions__btn 
              button.btn.--blue-border 
                | Открыть
                +svgsprite('btn-arrow')

        .col-md-4.col-xs-6.md-order--1
          .decisions__item.--bg-5
            .decisions__img 
              img(src="./assets/img/decisions/7.png", alt="")
            .decisions__title Репетиторам <br>и консультантам
            .decisions__text Проводи вовлекающие занятия, мастер-классы, вебинары: дистанционно, очно и в смешанном режиме. 
            .decisions__btn 
              button.btn.--blue-border 
                | Открыть
                +svgsprite('btn-arrow')

  section.integration 
    .container 
      .h2.integration__title Интеграции
      .integration__title-description Все что нужно для успешного запуска <br>образовательного проекта – уже в CoreApp
      .integration__pics
        img(src="./assets/img/integration/icons.png", alt="Интеграции", loading="lazy")
      .integration__description.--gray  И ещё <b>10+ интеграций</b> в работе...
      .integration__description Создаем интеграции по индивидуальному <br>запросу. Срок – <b>не дольше двух недель!</b> 
      .btn-center
        a.btn.--blue-shadow(href="https://coreapp.ai/app")
          | Запросить интеграцию
          +svgsprite('btn-arrow')

  section.ceo 
    .ceo__main 
      .container 
        .ceo__info 
          h2 Антон Сажин
          .ceo__title-description CEO и основатель образовательной онлайн-платформы CoreApp  
          .ceo__text Наш адаптивный онлайн-инструмент помогает пользователям в 80 странах мира! С нами уже работают РУДН, Сбербанк, Банк России, Союзмультфильм, МегаФон, Danone и многие другие. Сотрудничай с CoreApp и становись заметным на рынке онлайн-образования!
        .ceo__pic
          img(src="./assets/img/ceo/ceo.png", alt="")
    .container 
      .btn-center
        a.btn.--blue-shadow(href="https://coreapp.ai/app")
          | Протестировать платформу
          +svgsprite('btn-arrow')

  section.about 
    .container 
      h2.about__title CoreApp – это конструктор
      .about__panel.--methodology
        .row
          .col-sm-4
            .about__pic
              img(src="./assets/img/main/metodology.png", alt="CoreApp", loading="lazy")
          .col-sm-8
            .about__info 
              h3 Методология
              .about__text Как удерживать аудиторию, доводить ее до результатов и совершенствовать качество своих продуктов? Лучшие погружаются в методологию. Создавай качественные и результативные онлайн-курсы вместе с профессиональным методологом.
              .about__info-btn
                button.btn.--blue-shadow.--openpopup(data-popup="metodology")
                  | Арендовать методолога
                  +svgsprite('btn-arrow')
        
      .about__panel.--blocks
        .about__panel-trigger
          .row
            .col-md-4.col-sm-5.sm-order-1
              .h3 Блоки и шаблоны для уроков 
            .col-md-8.col-sm-7.sm-order-1
              .about__text Создавай уроки и курсы с помощью готовых блоков и шаблонов методом переноса. Конструируй и тестируй уроки бесплатно.
            .col-sm-4
              .about__pics-block
                .about__pic-block.about__pic-block-1
                  img(src="./assets/img/cards/text.svg", alt="")
                .about__pic-block.about__pic-block-2
                  img(src="./assets/img/about/3.svg", alt="")
                  .about__pic-animate 
                    img(src="./assets/img/cards/img.svg", alt="")
                    .about__mouse
                      img(src="./assets/img/about/mouse.svg", alt="")
                .about__pic-block.about__pic-block-3
                  img(src="./assets/img/cards/question.svg", alt="Вопрос с автопроверкой")
            .col-sm-8
              .about__info 
                .about__animate   
                  .about__animate-head
                    .about__animate-number 1
                    .about__animate-text Страница урока
                  .about__animate-pic
                    img(src="./assets/img/about/pic.jpg", alt="")
        
      .about__panel.--online
        .row.--aicn
          .col-sm-8
            .about__info 
              .h3 Онлайн-кассы
              .about__text Подключай оплату через аквайринг Робокассы, лендинг на Тильде и саму платформу. Студенты могут приобрести курс прямо на вашем сайте без сторонних сервисов и переплат. Если нет своей онлайн-кассы, мы предоставим свою за день!
          .col-sm-4.sm-order--1
            .about__pic 
              img(src="./assets/img/about/6.svg", alt="", loading="lazy")
        
        
      .about__panel.--work.gifs-in
        .row 
          .col-sm-4 
            .about__pic 
              img.gif-trigger(src="./assets/img/main/responsive.png", alt="responsive", data-gif="./assets/img/about/7.gif", data-src="./assets/img/main/responsive.png")
          .col-sm-8
            .about__info 
              .h3 Работа на всех устройствах
              .about__text Более 70% учеников CoreApp используют смартфоны во время обучения. Курсы можно адаптировать под любой носитель: смартфон, планшет или компьютер.
        
      .about__panel.--bots
        .row.--aicn
          .col-sm-8 
            .about__info 
              .h3 Воронки через чат-ботов
              .about__text Привлекай учеников с помощью чат-ботов из всех социальных сетей и мессенджеров. От простых автоворонок до полной автоматизации вашего взаимодействия с клиентами. 
          .col-sm-4.sm-order--1
            .about__pic
              img(src="./assets/img/about/8.svg", alt="", loading="lazy")
        
        
      .about__panel.--storage
        .row
          .col-sm-4 
            .about__pic
              img(src="./assets/img/about/9.png", alt="" loading="lazy")
          .col-sm-8
            .about__info 
              .h3 Безопасное хранение контента
              .about__text Незаконное распространение и скачка видео с платформы невозможны.
        
        
      .about__panel.--traking
        .row 
          .col-sm-8 
            .about__info 
              h3 Трекинг результатов
              .about__text Отслеживай прогресс и совершенствуй свои курсы, улучшай результаты учеников, влияй на вовлеченность, выстраивай долгосрочные отношения, развивай свой образовательный бренд.
          .col-sm-4.sm-order--1
            .about__pic
              img(src="./assets/img/about/10.png", alt="", loading="lazy")
        
      .btn-center
        a.btn.--blue-shadow.about--btn(href="https://coreapp.ai/app")
          | Начать своё дело
          +svgsprite('btn-arrow')

  section.add
    .container
      .add__title
        h2 Создание курса <br>без вложений
        .add__title-descr Бесплатно создавай, тестируй и доводи свой курс до идеала. Плати только за запуск.
    .add__list#add__list
      .container
        .add__scroll-wrap#add__scroll-wrap
          .add__scroll#add__scroll
            .add__item
              .add__item-label Бесплатно
              .add__number 01
              .add__pic 
                img(src="./assets/img/add/1.png", srcset="./assets/img/add/1@2x.png 2x", alt="")
              .add__text <b>Зарегистрируйся</b> <br>и познакомься <br>с платформой
            .add__item 
              .add__number 02
              .add__pic 
                img(src="./assets/img/add/2.svg", alt="")
              .add__text Создай <b>бесконечное</b><br> кол-во уроков
            .add__item 
              .add__number 03
              .add__pic 
                img(src="./assets/img/add/3.svg", alt="")
              .add__text <b>Тестируй</b> <br>и <b>корректируй</b> уроки
            .add__item 
              .add__number 04
              .add__pic 
                img(src="./assets/img/add/4.svg", alt="")
              .add__text Собери курс <br>и <b>подготовь</b> <br><b>его к продаже</b>
            .add__item 
              .add__item-label.--green Платно
              .add__number.--green 05
              .add__pic 
                img(src="./assets/img/add/5.svg", alt="")
              .add__text <b>Запусти курс</b>
            .add__item 
              .add__number.--green 06
              .add__pic 
                img(src="./assets/img/add/6.png", srcset="./assets/img/add/6@2x.png 2x" alt="")
              .add__text Добавляй учеников к курсу
            .add__item 
              .add__number.--green 07
              .add__pic 
                img(src="./assets/img/add/7.svg", alt="")
              .add__text Обучай и анализируй прогресс
    .container
      .btn-center
        a.btn.--blue-shadow.about--btn(href="https://coreapp.ai/app")
          | Начать бесплатно
          +svgsprite('btn-arrow')

  section.plans 
    .container 
      h2.plans__header Тарифы
      .plans__wrap 
        .plans__item.--base
          .plans__top
            .plans__title
              img(src="./assets/img/plans/base.svg", alt="") 
              | Базовый 
            .plans__description Для репетиторов<br> и начинающих<br> специалистов
            ul.plans__list
              li.plans__li Неограниченное кол-во уроков
              li.plans__li Индивидуальная обратная связь обучающимся (ДЗ)
              li.plans__li Перенос уроков с одного аккаунта на другой
              li.plans__li Реализация смешанного обучения (онлайн + очно)
              li.plans__li Педагогические шаблоны сборки курса
              li.plans__li Конкурсные механики для соцсетей (квесты, челленджи, олимпиады)
              li.plans__li Защита видео от скачивания
              li.plans__li Сбор статистики по уроку
          .plans__bottom 
            .plans__price 0 ₽ / месяц
            button.plans__btn Выбрать
        .plans__item.--profi
          .plans__top
            .plans__title
              img(src="./assets/img/plans/profi.svg", alt="") 
              | Профи
            .plans__description 
              | Для малого<br> бизнеса
              .plans__link
                a(href="") Возможности базового тарифа + 
            ul.plans__list
              li.plans__li Приём платежей через онлайн-кассу по 54 ФЗ (подключение за 1 день)
              li.plans__li Техподдержка 24/7
              li.plans__li Стоп-уроки
              li.plans__li Аналитика по курсу и отдельным урокам
              li.plans__li Выгрузка отчетов по курсу в формате Excel 
              li.plans__li Интеграция с чат-ботами Salebot
              li.plans__li Защита от покупки «в складчину»
              li.plans__li Родная интеграция с Zoom
              li.plans__li Количество тьюторов на курсе 
              li.plans__li Добавление уроков к уже запущенному курсу
          .plans__bottom 
            .plans__price от 990 ₽ / мес.
            button.plans__btn Выбрать
        .plans__item.--guru.--hit
          .plans__top
            .plans__title
              img(src="./assets/img/plans/guru.svg", alt="") 
              | Гуру
            .plans__description 
              | Для крупных компаний<br> и экспертов
              .plans__link
                a(href="") Возможности тарифа Профи + 
            ul.plans__list
              li.plans__li Запуск марафонов
              li.plans__li Свой дизайн курса
              li.plans__li Собственный домен
          .plans__bottom 
            .plans__price от 11 990 ₽ / месяц
            button.plans__btn Выбрать
        .plans__item.--online
          .plans__top
            .plans__title
              img(src="./assets/img/plans/online.svg", alt="") 
              | Онлайн-академия
            .plans__description
              | Для онлайн-школ,<br> вузов и ИРО
              .plans__link
                a(href="") Возможности тарифа Гуру + 
            ul.plans__list
              li.plans__li Независимая от платформы база пользователей
              li.plans__li Персональный менеджер
              li.plans__li Рекуррентные платежи
              li.plans__li Выдача сертификатов и дипломов
              li.plans__li Прием оплаты от юр. лиц
              li.plans__li Продвинутая геймификация
              li.plans__li Диагностика
              li.plans__li Мобильное приложение
              li.plans__li Интеграция CRM, рассылок, SAP, 1C, PowerBI
          .plans__bottom 
            .plans__price от 30 000 ₽ / месяц
            button.plans__btn Выбрать
      .btn-center 
        button.btn.--blue-border Сравнить тарифы
  section.cases 
    .container 
      h2 Кейсы
      .cases__list
        a.case(href="#") 
          .case__pic
            .case__img.--purple
              img(src="./assets/img/cases/1.svg", alt="Онлайн-академия для Digital Dolina")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для Digital Dolina
        
        a.case(href="#") 
          .case__pic
            .case__img.--dark
              img(src="./assets/img/cases/2.svg", alt="Онлайн-академия для Calltouch")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для Calltouch
        
        a.case(href="#") 
          .case__pic
            .case__img
              img(src="./assets/img/cases/3.png", srcset="./assets/img/cases/3@2x.png 2x" alt="Онлайн-академия для Клик")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для Клик

        a.case(href="#") 
          .case__pic
            .case__img.--dark
              img(src="./assets/img/cases/4.svg", alt="Онлайн-академия для Selective")
              .case__circle
                +svgsprite('next')
          .case__title «Рэп. Фундамент» для Selective
        
        a.case(href="#") 
          .case__pic
            .case__img.--dark
              img(src="./assets/img/cases/5.png", srcset="./assets/img/cases/5@2x.png 2x" alt="Онлайн-академия для TeenStudy")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для TeenStudy

        a.case(href="#") 
          .case__pic
            .case__img
              img(src="./assets/img/cases/6.svg", alt="Предпринимательство с ДВФУ")
              .case__circle
                +svgsprite('next')
          .case__title Предпринимательство с ДВФУ

        a.case(href="#") 
          .case__pic
            .case__img.--red
              img(src="./assets/img/cases/7.svg", alt="Онлайн-академия для KT Online")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для KT Online

        a.case(href="#") 
          .case__pic
            .case__img.--blue
              img(src="./assets/img/cases/8.svg", alt="Онлайн-академия для РУДН")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для РУДН

        a.case(href="#") 
          .case__pic
            .case__img
              img(src="./assets/img/cases/9.png", srcset="./assets/img/cases/9@2x.png 2x" alt="Онлайн-академия для Units Kids")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для Units Kids

        a.case(href="#") 
          .case__pic
            .case__img.--dark
              img(src="./assets/img/cases/10.svg", alt="Онлайн-академия для МАТЧ")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для МАТЧ

        a.case(href="#") 
          .case__pic
            .case__img
              img(src="./assets/img/cases/11.png", srcset="./assets/img/cases/11@2x.png 2x" alt="Онлайн-академия для X10")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для X10
        
        a.case(href="#") 
          .case__pic
            .case__img.--dark
              img(src="./assets/img/cases/12.svg", alt="Онлайн-академия для HackerU")
              .case__circle
                +svgsprite('next')
          .case__title Онлайн-академия для HackerU
        

        

  section.reports 
    .container 
      h2 Отзывы о CoreApp
      .reports__slider 
        .swiper-wrapper
          .swiper-slide.report 
            .report__avatar
              .report__pic
                img(src="./assets/img/reports/avatar.png", alt="", loading="lazy")
            .report__info 
              .report__text 
                | CoreApp намного быстрее и адаптивнее, чем многие LMS. В 
                a(href="#") Mobile.School 
                | учим при помощи телефона, в вертикальном формате при помощи microlearning навыкам, важным для получения профессии. Для нас рулит конструктор drag-and-drop с готовыми блоками и шаблонами — можно насыщать уроки в зависимости от темы курса. Нравится, что подключить учеников легко в одну секунду с телефона или планшета. Плюс — все по одной ссылке.
              .report__user 
                .report__name Валит Султанов
                .report__work Основатель онлайн-университета мобильных навыков и профессий Mobile.School
              a.report__link(href="#")  Открыть кейс →
          .swiper-slide.report 
            .report__avatar
              .report__pic
                img(src="./assets/img/reports/avatar.png", alt="", loading="lazy")
            .report__info 
              .report__text 
                | CoreApp намного быстрее и адаптивнее, чем многие LMS. В 
                a(href="#") Mobile.School 
                | учим при помощи телефона, в вертикальном формате при помощи microlearning навыкам, важным для получения профессии. Для нас рулит конструктор drag-and-drop с готовыми блоками и шаблонами — можно насыщать уроки в зависимости от темы курса. Нравится, что подключить учеников легко в одну секунду с телефона или планшета. Плюс — все по одной ссылке.
              .report__user 
                .report__name Валит Султанов
                .report__work Основатель онлайн-университета мобильных навыков и профессий Mobile.School
              a.report__link(href="#")  Открыть кейс →
          .swiper-slide.report 
            .report__avatar
              .report__pic
                img(src="./assets/img/reports/avatar.png", alt="", loading="lazy")
            .report__info 
              .report__text 
                | CoreApp намного быстрее и адаптивнее, чем многие LMS. В 
                a(href="#") Mobile.School 
                | учим при помощи телефона, в вертикальном формате при помощи microlearning навыкам, важным для получения профессии. Для нас рулит конструктор drag-and-drop с готовыми блоками и шаблонами — можно насыщать уроки в зависимости от темы курса. Нравится, что подключить учеников легко в одну секунду с телефона или планшета. Плюс — все по одной ссылке.
              .report__user 
                .report__name Валит Султанов
                .report__work Основатель онлайн-университета мобильных навыков и профессий Mobile.School
              a.report__link(href="#")  Открыть кейс →
        .swiper-button-prev.report__nav-button
          +svgsprite('prev')
        .swiper-button-next.report__nav-button
          +svgsprite('next')
      .btn-center 
        a.btn.--blue-shadow(href="https://coreapp.ai/app")
          | Зарегистрироваться
          +svgsprite('btn-arrow')
  section.news 
    .container 
      h2 СМИ о нас
      .news__list
        a.news__item(href="#") 
          .news__pic
            img(src="./assets/img/news/1.jpg" alt="новость" loading="lazy")
          .news__title Моя миссия — помочь инфобесам стать инфоангелами
          .news__link Подробнее →

        a.news__item(href="#") 
          .news__pic
            img(src="./assets/img/news/2.jpg" alt="новость" loading="lazy")
          .news__title Онлайн-курс на кончиках пальцев. Команда CoreApp делает образование максимально доступным
          .news__link Подробнее →

        a.news__item(href="#") 
          .news__pic
            img(src="./assets/img/news/3.jpg" alt="новость" loading="lazy")
          .news__title Образовательная платформа CoreApp привлекла $3 млн
          .news__link Подробнее →

        a.news__item(href="#") 
          .news__pic
            img(src="./assets/img/news/4.jpg" alt="новость" loading="lazy")
          .news__title АСИ назвало лидеров дистанционного образования за период пандемии
          .news__link Подробнее →

        a.news__item(href="#") 
          .news__pic
            img(src="./assets/img/news/5.jpg" alt="новость" loading="lazy")
          .news__title CoreApp: как один стартап меняет рынок онлайн-образования
          .news__link Подробнее →

        a.news__item(href="#") 
          .news__pic
            img(src="./assets/img/news/6.jpg" alt="новость" loading="lazy")
          .news__title Образовательная онлайн-платформа CoreApp появилась на маркетплейсе ZOOM
          .news__link Подробнее →
        
  section.faq 
    .container 
      h2 Остались вопросы?
      .faq__list
        .accardeon
          .accardeon__main 
            | Чем CoreApp отличается от других платформ по запуску курсов?
            .accardeon__ico 
              +svgsprite('plus')
          .accardeon__drop
            p На CoreApp можно бесплатно создавать неограниченное количество уроков даже на «Базовом тарифе». Знакомиться с платформой, тестировать ее функционал, загружать контент, получать обратную связь от учеников, конструировать и дорабатывать курс — бесплатно.
            p Стоимость тарифа зависит от числа запущенных курсов. Мы не привязываем стоимость тарифа к количеству пользователей. 990 рублей — запуск одного курса на нашей образовательной платформе, количество обучающихся на курсе не ограничено
            p Возможен запуск синхронных курсов — добавлять уроки можно к уже запущенным курсам.

        .accardeon
          .accardeon__main Есть ли ограничения по количеству уроков/материалов внутри онлайн-курса, с которыми я столкнусь?
            .accardeon__ico 
              +svgsprite('plus')
          .accardeon__drop
            p На COREapp можно создавать курсы любой сложности, используя доступные инструменты. По количеству блоков и упражнений в тренинге ограничений нет.
            p При работе над созданием уроков легко адаптировать педагогические шаблоны из нашей библиотеки для разработки эффективных онлайн-материалов

        .accardeon
          .accardeon__main 
            | Какие инструменты помогают сделать урок интерактивным?
            .accardeon__ico 
              +svgsprite('plus')
          .accardeon__drop
            p На COREapp есть все возможности для проведения вебинаров, создания курсов, live-уроков, конференций и спецпроектов.
            p Например, разработать диалоговый тренажер — это один из главных современных инструментов для создания интерактивного курса. Помогает моделировать реальные ситуации, в которых может оказаться учащийся, и создавать разные сценарии.
            p Доступна интеграция с Tilda, Learningapps, Zoom, Wordwall, Apple music. Пользователь платить за один сервис, а получает функционал всех приложений, необходимых для работы над онлайн-курсом.

        .accardeon
          .accardeon__main Как я могу оплатить выбранный тариф?
            .accardeon__ico 
              +svgsprite('plus')
          .accardeon__drop
            p Доступны три тарифа «Базовый», «Профи» и «Гуру». Стоимость тарифов отличается по количеству активных курсов.
            p Выбирайте подходящий вам тариф и оплачивайте с помощью банковской карты. Автопродление можно настроить в разделе «Тарифы» в личном кабинете.
            p Если вы хотите оплатить тариф как юрлицо, напишите, пожалуйста, в техподдержку.
        
        .accardeon
          .accardeon__main В чем отличие урока на CoreApp от курса на CoreApp?
            .accardeon__ico 
              +svgsprite('plus')
          .accardeon__drop
            p Урок всегда затрагивает одну тему. Курс помогает выстроить образовательный процесс в единую систему: организовать четкую структуру контента, настроить контрольные уроки и тестирования с проверкой знаний. Учащийся будет отслеживать свой прогресс. Урок может пройти любой студент, у которого есть ссылка. Для получения доступа к курсу необходимо приглашение его создателя. Таким образом, доступ к материалам онлайн-курса можно ограничить и сделать платным.
            p Пример курса: 
              a(href="https://library.coreapp.ai/tproduct/246713177-693590597771-zdorovoe-pitanie-ot-a-do-ya") «Здоровое питание от, А до Я».
            h5 Возможности онлайн-курса:
            ul 
              li Просмотр прогресса по каждому ученику.
              li Выгрузка результатов прохождений в формате CSV.
              li Проведение онлайн-вебинаров благодаря интеграции с сервисом ZOOM.
              li Возможность добавлять тьюторов — других преподавателей, которые могут оценивать выполнение заданий и давать обратную связь.

        .accardeon
          .accardeon__main Можно использовать платформу с мобильного устройства?
            .accardeon__ico 
              +svgsprite('plus')
          .accardeon__drop
            p Наша платформа адаптирована под мобильные устройства, с них возможно её использование: работа в личном кабинете, прохождение уроков.
            p Если добавить "иконку" на рабочий стол мобильного устройства, будет почти как приложение. Более подробно можно прочитать тут: 
              a(href="https://www.instagram.com/p/CI8LnspFbte/") https://www.instagram.com/p/CI8LnspFbte/
            p К сожалению, создание уроков с мобильного устройства невозможно из-за широкой функциональности конструктора уроков.

        .accardeon
          .accardeon__main Как вы защищаете персональные данные и контент?
            .accardeon__ico 
              +svgsprite('plus')
          .accardeon__drop
            p В целях безопасности мы храним все данные на Российских серверах, в том числе резервных.
            p По соглашению о защите персональных данных, мы отвечаем за их безопасное хранение (доступ к ним имеют только те, кто отвечает за функционирование CoreApp), мы ответственны за возврат и за удаление информации в случае утечки.
            p Также, в целях безопасности, по запросу, мы можем допускать работу с CoreApp всех пользователей со сторонних клиентских серверов (возможно в рамках тарифа онлайн-академия).
            p Защита контента у нас организована через защиту видео: мы интегрируем сервисы, которые обеспечивают защиту видео от скачивания и распространения на сторонних доменах. Для этих целей у нас есть интеграция с сервисами Kinescope и Vimeo.

        

      .btn-center 
        button.btn.--blue-border
          | Справочный центр
          +svgsprite('btn-arrow')
  section.speed
    .container
      .speed__wrap.gifs-in
        .speed__pic
          img.speed__gif.gif-trigger(src="./assets/img/main/speed.png", alt="speed", data-gif="./assets/img/speed/speed.gif", data-src="./assets/img/main/speed.png" loading="lazy") 
          img.speed__avatar(src="./assets/img/speed/speed__avatar.png", alt="avatar", loading="lazy") 
        .speed__info 
          .title-bluelines.speed__title
            p.title-blueline 
              span Улучшай
            <br>
            p.title-blueline 
              span продукт
            p с CoreApp
          a.btn.--blue-full(href="https://coreapp.ai/app") Зарегистрироваться