extends _includes/layout

block config
  - var pagetitle = 'pricing'
  - var bodyClass = ''
block content
  section.plans-page
    .container
      h3 Тарифы

      .plans__table-wrap
        .plans__table
          .plans-page__block 
            .plans-page__flex
              .plans-page__left

              .plans-page__right
                .plans-page__item
                  .plans-card__item.--base 
                    .plans-card__title 
                      img(src="./assets/img/plans/base.svg", alt="") 
                      | Базовый
                    .plans-card__description Для репетиторов и начинающих специалистов
                    .plans-card__price 0 ₽/мес.

                .plans-page__item
                  .plans-card__item
                    .plans-card__title 
                      img(src="./assets/img/plans/profi.svg", alt="") 
                      | Профи
                    .plans-card__description Для малого бизнеса
                    .plans-card__price.--profi от 990 ₽/мес.

                .plans-page__item
                  .plans-card__item.--profi
                    .plans-card__title 
                      img(src="./assets/img/plans/guru.svg", alt="") 
                      | Гуру
                    .plans-card__description Для крупных компаний и экспертов
                    .plans-card__price.--guru 14 000 ₽/мес.

                .plans-page__item
                  .plans-card__item.--online 
                    .plans-card__title 
                      img(src="./assets/img/plans/online.svg", alt="") 
                      | Онлайн академия
                    .plans-card__description Для онлайн-школ, вузов и ИРО
                    .plans-card__price.--online от 30 000 ₽/мес.

            h4 Образовательный процесс
            
            .plans-page__flex
              .plans-page__left
                .plans-page__name Количество активных уроков
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__text Неограниченно
                .plans-page__item.--profi 
                  .plans-page__text Неограниченно
                .plans-page__item.--guru  
                  .plans-page__text Неограниченно
                .plans-page__item.--online 
                  .plans-page__text Неограниченно
            .plans-page__flex
              .plans-page__left
                .plans-page__name Количество активных курсов
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__text 0
                .plans-page__item.--profi 
                  .plans-page__text 1-10
                .plans-page__item.--guru  
                  .plans-page__text Неограниченно
                .plans-page__item.--online 
                  .plans-page__text Неограниченно
            .plans-page__flex
              .plans-page__left
                .plans-page__name Автоматическая и ручная проверка домашних заданий
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__check
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Реализация смешанного обучения (онлайн, очно и дистанционно)
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__check
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Конструктор контента с 15+ интерактивными инструментами
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__check
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Выгрузка отчётов по уроку и курсу в Excel-формате
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__check
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Проведение вебинаров с помощью ZOOM
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Запуск синхронных курсов
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plnas-page__bottom 
              h4 Методологический апгрейд курса
              button.btn.--blue-shadow.--openpopup(data-popup="metodology")
                | Арендовать методолога
                +svgsprite('btn-arrow')
          .plans-page__block 
            h4 Управление контентом
            .plans-page__flex
              .plans-page__left
                .plans-page__name Количество помощниковна курсе (тьюторов)
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__text 0
                .plans-page__item.--profi 
                  .plans-page__text Неограниченно
                .plans-page__item.--guru  
                  .plans-page__text Неограниченно
                .plans-page__item.--online 
                  .plans-page__text Неограниченно
            .plans-page__flex
              .plans-page__left
                .plans-page__name Перенос уроков с одного аккаунта на другой
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__check
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Готовые методические шаблоны для уроков
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__check
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Защита видео от скачивания
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__check
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Автоматический сбор и выгрузка аналитики прохождений
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__check
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Техническая поддержка 24/7
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Одновременное создание контента в аккаунте с несколькими пользователями
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Бесплатный перенос контента на Coreapp с других платформ
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Независимая от платформы база пользователей
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__none
                .plans-page__item.--guru  
                  .plans-page__none
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Выдача сертификатов и дипломов
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__none
                .plans-page__item.--guru  
                  .plans-page__none
                .plans-page__item.--online 
                  .plans-page__check
            .plnas-page__bottom 
              h4 Перенос курса с другой платформы
              button.btn.--blue-shadow.--openpopup(data-popup="transfer")
                | Заказать перенос
                +svgsprite('btn-arrow')
          .plans-page__block 
            h4 Маркетинг и платежи
            .plans-page__flex
              .plans-page__left
                .plans-page__name Прием платежей: Юкаса, Robokasa
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            
            .plans-page__flex
              .plans-page__left
                .plans-page__name Подключение онлайн-кассы Coreapp по 54 ФЗ за 1 день
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Возможность отправлять триггеры в другие сервисы с помощью web-хуков
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Интеграция с чат-ботами Salebot, Bothelp
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Создание витрины курсов на платформе
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__check
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Прием оплаты от юр.лиц
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__none
                .plans-page__item.--guru  
                  .plans-page__none
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Интеграция CRM, рассылок, SAP, 1C
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__none
                .plans-page__item.--guru  
                  .plans-page__none
                .plans-page__item.--online 
                  .plans-page__check
            .plnas-page__bottom 
              h4 Разработка маркетинговой воронки для чат-ботов и рассылок
              button.btn.--blue-shadow.--openpopup(data-popup="bots")
                | Заказать воронку
                +svgsprite('btn-arrow')
          .plans-page__block 
            h4 Кастомизация
            .plans-page__flex
              .plans-page__left
                .plans-page__name Настройка собственного уникального дизайн-решения уроков и курсов
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__none
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Подключение собственного домена
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__none
                .plans-page__item.--guru  
                  .plans-page__check
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Кастомизация системных email-писем
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__none
                .plans-page__item.--guru  
                  .plans-page__none
                .plans-page__item.--online 
                  .plans-page__check
            .plans-page__flex
              .plans-page__left
                .plans-page__name Мобильное приложение
              .plans-page__right
                .plans-page__item.--base  
                  .plans-page__none
                .plans-page__item.--profi 
                  .plans-page__none
                .plans-page__item.--guru  
                  .plans-page__none
                .plans-page__item.--online 
                  .plans-page__check
            .plnas-page__bottom 
              .h4 Подключение бизнес-аналитики PowerBi
              button.btn.--blue-shadow.--openpopup(data-popup="analtic")
                | Подключить бизнес-аналитику
                +svgsprite('btn-arrow')


      .plans-bcards
          .plans-bcard.--base 
            .plans-bcard__title 
              img(src="./assets/img/plans/base.svg", alt="") 
              | Базовый
            .plans-bcard__price 0 ₽/мес.
            a.plans__btn(href="https://coreapp.ai/app/teach/") Выбрать
          .plans-bcard.--profi 
            .plans-bcard__title 
              img(src="./assets/img/plans/profi.svg", alt="") 
              | Профи
            .plans-bcard__price от 990 ₽/мес.
            a.plans__btn(href="https://coreapp.ai/app/combined/") Выбрать
          .plans-bcard.--guru 
            .plans-bcard__title 
              img(src="./assets/img/plans/guru.svg", alt="") 
              | Гуру
            .plans-bcard__price 14 000 ₽/мес.
            a.plans__btn(href="https://coreapp.ai/app/combined?plan=guru") Выбрать
          .plans-bcard.--online
            .plans-bcard__title 
              img(src="./assets/img/plans/online.svg", alt="") 
              | Онлайн-академия
            .plans-bcard__price от 30 000 ₽/мес.
            a.plans__btn(href="https://ru.coreapp.ai/#popup:open_academy") Выбрать
